.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.register-card {
  width: 50%;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}